@import "_config";

.sidebar {
	min-height: 100%;
	min-width: 250px;
	width: 15%;
	background-color: darken($base-color, 10%);
	border-right: 1px solid
		lighten($base-color, 10%);
	.logo {
		margin: 1rem auto 10rem;
		width: fit-content;
		height: fit-content;
		h2 {
			color: $secondary-color;
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-size: 1rem;
		width: 80%;
		margin: 1.5rem auto;
		color: #eee;
		.fa-solid {
			margin-right: 1rem;
		}
		&:hover {
			color: $secondary-color;
		}
	}
}
